canvas {
    background: #eee;
    display: block;
    margin-left: 330px;
    margin-top: 50px;

}

#soundd {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 750px;
    left: 335px;
}

#gameover {
    position: absolute;
    margin-left: 328px;
    width: 610px;
    height: 705px;
    background: rgba(192,192,192,0.3);
    display: none;
}

#victoryroyale {
    width: 405px;
    height: 390px;
    position: absolute;
    top: 00px;
    left: 00px;
    right: 540px;
    display: none;
    padding-right: 200px;
    margin-left: 90px;
}

#loose {
    width: 500px;
    height: 350px;
    position: absolute;
    top: 40px;
    left: 48px;
    right: 1000px;

    display: none;
}

#restart {
    position: absolute;
    top: 400px;
    left: 190px;
    cursor: pointer;
    font-size: 20px;
    width: 210px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid navy;
    background-color: yellow;
    font-size: 24px;
    text-shadow:  wheat;
    cursor: pointer;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;


}

#arrow {

    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 755px;
    left: 895px;

}


#statistika{
   top: 447px;
   left: 188px;   
   display: none;
   position: absolute;

}
#username{
  
width: 210px;
height: 35px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: oblique;
border: 1px solid navy;

}
#action {
    display:none;
}